.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: linear-gradient(-135deg,rgb(235, 226, 226),rgb(138, 138, 248));
    min-height: 100vh;
    width: 100%;
}

.wrapper h1{
    font-size: 2.5vw;
}

.addressWrapper,.weatherAddInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.addressWrapper label{
    margin-left:10px;
    margin-right:5px;
    font-size: 1.25vw;
}

.addressWrapper input{
    padding: 5px;
    font-size: 1.094vw;
}

.addressWrapper button{
    margin:25px;
    background-color:rgb(171, 238, 150);
    font-size: 1.094vw;
}

.addressWrapper button:hover:not(:disabled){
    margin:25px;
    color:white;
    background-color:rgb(61, 182, 24);
}

.longLatVals{
    border:2px solid black;
    background-color:rgb(67, 104, 226);
    margin:20px;
    padding:5px;
}

.weatherWrapper button{
    margin:35px;
    background-color:rgb(157, 157, 248);
    font-size: 1.094vw;
}

.weatherWrapper button:hover:not(:disabled){
    margin:35px;
    color: white;
    background-color:rgb(90, 90, 240);
}

.weatherWrapper div{
    font-weight:bold;
    color:rgb(31, 62, 165);
}

.weatherWrapper p {
    font-size: 1.25vw;
}
h1,h2{
    font-family:'Playfair Display SC';
}
p,label{
   font-family:"Montserrat"; 
}

button{
    padding:10px;
    border:none;
    outline: none;
    cursor: pointer;
}

button:disabled{
    cursor: not-allowed;
}

.coordinates{
    padding-top: 10px;
}

.coordinates label, .coordinates span{
    font-size: 1.25vw;
}

div.error{
    color: rgb(209, 30, 30);
    font-weight: bold;
    font-size: 1.25vw;
}

footer{
    font-size: 1.25vw;
    padding-bottom: 5px;
    font-style: italic;
    position: absolute;
    bottom: 0;
}

footer a{
    text-decoration: none;
}

@media only screen and (max-width:1000px){
    .wrapper h1{
        font-size: 2.75vw;
    }
    
    .addressWrapper label{
        font-size: 1.50vw;
    }
    
    .addressWrapper input{
        font-size: 1.35vw;
    }
    
    .addressWrapper button{
        font-size: 1.35vw;
    }

    .weatherWrapper button{
        font-size: 1.35vw;
    }
    
    .weatherWrapper p {
        font-size: 1.50vw;
    }
    
    .coordinates label, .coordinates span{
        font-size: 1.50vw;
    }
    
    div.error{
        font-size: 1.50vw;
    }

    footer{
        font-size: 1.50vw;
    }
}

@media only screen and (orientation:portrait) {
    .wrapper h1{
        font-size: 2.75vh;
    }
    
    .addressWrapper label{
        font-size: 1.50vh;
    }
    
    .addressWrapper input{
        font-size: 1.35vh;
    }
    
    .addressWrapper button{
        font-size: 1.35vh;
    }

    .weatherWrapper button{
        font-size: 1.35vh;
    }
    
    .weatherWrapper p {
        font-size: 1.50vh;
    }
    
    .coordinates label, .coordinates span{
        font-size: 1.50vh;
    }
    
    div.error{
        font-size: 1.50vh;
    }

    footer{
        font-size: 1.50vh;
    }
}

@media only screen and (max-width:500px){
    .addressWrapper div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .addressWrapper label{
        margin-bottom: 10px;
    }

}

@media only screen and (max-height:450px){
    footer{
        position: static;
    }

}