.wrapper{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-left:  30rem;
    padding-top: 1rem;
    background: linear-gradient(-135deg,rgb(235, 226, 226),rgb(138, 138, 248));
    height: 100vh;
}
h1,h2{
    font-family:'Playfair Display SC';
}
p,label{
   font-family:"Montserrat"; 
}

button{
    margin: 100px;
    padding:10px
}

.coordinates{
    padding-top: 4rem;
}