body{
    box-sizing: border-box;
}

div{
    box-sizing: border-box;
}

@media screen and (min-width:900px){
#books{
    
    display: grid;
    width:80%;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: '#book0 #book1 #book2 #book3 #book4';
    grid-gap: 15px;
}

}

@media screen and (min-width:600px) and (max-width:899px) {
    #books{
    
    display: grid;
    width:80%;
    height:80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '#book0 #book1 #book2 #book3 #book4';
    grid-gap: 15px;
}
}

@media screen and (min-width:200px) and (max-width:300px){
    #books{
        display: grid;
        width:80%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: '#book0 #book1 #book2 #book3 #book4';
        grid-gap: 15px; 
        
    }

}



section{
    border: 1px solid grey;
    border-radius: 10px;
    margin:10px;
}

.toolTipSet{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1px 2px;  
}

.toolTip{
    border: unset;
    border-radius: 0px;
    padding: 0px;
}

.description{
    position: relative;
    top:10px;
    left:0px;
    
    
    
    
}

